@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-controller="Home" asp-action="CreateLabels" method="post" role="form">
    <div class="form-group">
        <label>Pick a color:</label>
        <input id="pickAColor" class="form-control" type="text" value="#1e2966" />
        <span class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-default">Create Label</button>
</form>

<script managed>
    $(document).ready(function () {
        $('#pickAColor').colorpicker({
            format: 'hex'
        });
    });
</script>

<script managed src="~/js/site.js" />